<nav class="navbar navbar-expand-lg navbar-dark bg-light mb-3">
<!--    <div class="container-fluid">-->
                <a class="navbar-brand text-danger" style="margin-left: 25px;" href="#">FIREPHOENIX</a>
                <a class="nav-link text-success" style="margin-left: 25px;" href="/">URL Detection</a>
                <a class="nav-link text-success"  href="/report">Phishing Report</a>
                <a class="nav-link text-success"  href="#">Extension Download</a>

<!--    </div>-->
</nav>

